[Unit]
After=graphical-session.target
Description=Emanote web server
PartOf=graphical-session.target

[Service]
ExecStart="%S/nix/profile/bin/emanote" \
	--layers "%h/Documents/kenrendell-wiki" \
	run --host 127.0.0.1 --port 9000

[Install]
WantedBy=graphical-session.target
