[Unit]
Description=NFTables Bogons Updater
After=firewall.service

[Timer]
Unit=update-nft-bogons.service
OnCalendar=Sun *-*-* 00:00:00

[Install]
WantedBy=multi-user.target
